<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Nueva venta</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="active">
        <strong>Nueva venta</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Productos</h5>
        </div>
        <div class="ibox-content">

          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>Samantha</td>
              <td>Samantha</td>
              <td>15.20€</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Jacob</td>
              <td>15.20€</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Damien</td>
              <td>Damien</td>
              <td>15.20€</td>
            </tr>
            </tbody>
          </table>
          <hr class="hr-line-dashed">
          <p class="text-center">Total: 40.70 </p>
          <div class="calculadora">
            <table class="table no-borders">
              <tr>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">7</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">8</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">9</button>
                </td>
                <td rowspan="4">
                  <button class="btn btn-outline btn-primary dim text-center" type="button">=</button>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">4</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">5</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">6</button>
                </td>
              </tr>
              <tr>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">1</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">2</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">3</button>
                </td>

              </tr>
              <tr>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">+</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">0</button>
                </td>
                <td>
                  <button class="btn btn-outline btn-primary dim" type="button">-</button>
                </td>

              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      2
    </div>
  </div>
</div>