<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <%= render partial: 'gestion/cliente_tinte/clientes_tintes', locals: {cliente_tintes: @cliente_tintes} %>
    </div>
  </div>
</div>