<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Gastos gasolina</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="active">
        <strong>Gastos gasolina</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <%= render partial: 'gasolinas', locals: {gasolina: @gasolinas} %>
    </div>
  </div>
</div>