<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Usuarios</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="active">
        <strong>Usuarios</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <%= render partial: 'usuarios', locals: {usuario: @usuarios} %>
    </div>
  </div>
</div>