    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Gestión de la Peluquería Mar Sanz</h3>
            <form class="m-t" role="form" action="#">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Usuario" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Iniciar Sesión</button>

                <a class="btn btn-sm btn-white btn-block" href="<%= url_for :controller => 'pages', :action => 'register' %>">Create an account</a>
            </form>
            <p class="m-t"> <small>Desarrollado por Adrian Palomera Sanz &copy; 2017</small> </p>
        </div>
    </div>



