<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Citas</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= root_path %>">Home</a>
      </li>
      <li class="active">
        <strong>Citas</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-9">
      <div id='calendar'></div>

    </div>
  </div>
</div>