@font-face {
  font-family: 'digital-7regular';
  src: url('digital-7-webfont.woff2') format('woff2'),
  url('digital-7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}

.activo, .nuevo {
  color: #0c770f;
  font-size: 20px;
}

.inactivo, .eliminar {
  color: #c8091a;
  font-size: 20px;
}

.mujer{
  color: #ff00ff;
}

.hombre{
  color: #0d8ddb;
}

.editar {
  font-size: 20px;
}

/* Ventas */
.ventas {
  .caja-acciones {

    .caja-precio-total {
      background-color: #0f1c1f;
      color: #fff;
      font-size: 90px;
      text-align: right;
      padding-right: 15px;
      .cuenta {
        font-family: 'digital-7regular';
        padding-right: 30px;
        font-size: 120px;
      }
    }
    .ibox-content {
      .row {
        .box, .box-producto {
          width: 100%;
          margin-bottom: 30px;
          .precio {
            font-size: 34px;
            font-weight: bold;
          }
          .producto {
            font-size: 20px;
          }
        }
        .sin-stock{
          background-color: #c8091a;
        }
      }
    }
  }
  .chosen-container{margin-bottom: 30px;}
}

.cerrar-venta {
  width: 100%;
  text-align: center;
}

.stock-bajo {
  display: inline-block;
  float: right;
  .pulse {
    color: #f8ac59;
    animation-name: pulse_animation;
    animation-duration: 2000ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}


@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.30);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.25);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

/* FULLCALENDAR */
.fc-state-default {
  background-color: #ffffff;
  background-image: none;
  background-repeat: repeat-x;
  box-shadow: none;
  color: #333333;
  text-shadow: none;
}
.fc-state-default {
  border: 1px solid;
}
.fc-button {
  color: inherit;
  border: 1px solid #e7eaec;
  cursor: pointer;
  display: inline-block;
  height: 1.9em;
  line-height: 1.9em;
  overflow: hidden;
  padding: 0 0.6em;
  position: relative;
  white-space: nowrap;
}
.fc-state-active {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #ffffff;
}
.fc-header-title h2 {
  font-size: 16px;
  font-weight: 600;
  color: inherit;
}
.fc-content .fc-widget-header,
.fc-content .fc-widget-content {
  border-color: #e7eaec;
  font-weight: normal;
}
.fc-border-separate tbody {
  background-color: #F8F8F8;
}
.fc-state-highlight {
  background: none repeat scroll 0 0 #FCF8E3;
}
.external-event {
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 5px;
}
.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
  border-radius: 2px;
}
.fc-event,
.fc-agenda .fc-event-time,
.fc-event a {
  padding: 4px 6px;
  background-color: #1ab394;
  /* background color */
  border-color: #1ab394;
  /* border color */
}
.fc-event-time,
.fc-event-title {
  color: #717171;
  padding: 0 1px;
}
.ui-calendar .fc-event-time,
.ui-calendar .fc-event-title {
  color: #fff;
}
.fc-event-container a.fc-event {
  color: #fff;
}
.fc-prev-button,.fc-next-button{background-color: #1ab394;color: #fff;font-weight: bold;}
.fc-nonbusiness{background-color: #0f1c1f;}

#calendar{background-color: #FFF;padding: 15px;}