@font-face {
  font-family: 'digital-7regular';
  src: url('digital-7-webfont.woff2') format('woff2'),
  url('digital-7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}

.activo, .nuevo {
  color: #0c770f;
  font-size: 20px;
}

.inactivo, .eliminar {
  color: #c8091a;
  font-size: 20px;
}

.mujer{
  color: #ff00ff;
}

.hombre{
  color: #0d8ddb;
}

.editar {
  font-size: 20px;
}

/* Ventas */
.ventas {
  .caja-acciones {

    .caja-precio-total {
      background-color: #0f1c1f;
      color: #fff;
      font-size: 90px;
      text-align: right;
      padding-right: 15px;
      .cuenta {
        font-family: 'digital-7regular';
        padding-right: 30px;
        font-size: 120px;
      }
    }
    .ibox-content {
      .row {
        .box, .box-producto {
          width: 100%;
          margin-bottom: 30px;
          .precio {
            font-size: 34px;
            font-weight: bold;
          }
          .producto {
            font-size: 20px;
          }
        }
      }
    }
  }
  .chosen-container{margin-bottom: 30px;}
}

.cerrar-venta {
  width: 100%;
  text-align: center;
}

.stock-bajo {
  display: inline-block;
  float: right;
  .pulse {
    color: #f8ac59;
    animation-name: pulse_animation;
    animation-duration: 2000ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}


@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.30);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.25);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}