<div class="footer">
    <div class="pull-right">
        Desarrollado por Adrian Palomera
    </div>
    <div>
        <strong>Copyright</strong> Peluquería Mar Sanz &copy; 2004-<%= Time.now.year %>
    </div>
</div>
