<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Gestión de la peluquería</span>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
          <i class="fa fa-bell"></i> <span class="label label-primary"><%= @notificaciones.count %></span>
        </a>
        <% if @notificaciones.count > 0 %>
            <ul class="dropdown-menu dropdown-alerts">
              <% @notificaciones.each do |n| %>
                  <li>
                    <a href="<%= edit_gestion_producto_path(n.id) %>">
                     <p>Stock bajo en el producto <%= n.nombre %></p>
                    </a>
                  </li>
                  <li class="divider"></li>
              <% end %>
            </ul>
        <% end %>
      </li>
      <li>
        <a href="<%= logout_path %>">
          <i class="fa fa-sign-out"></i> Salir
        </a>
      </li>
    </ul>
  </nav>
</div>